<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">



    <style>

        body {
          background-image: url('https://wallpaperaccess.com/full/3004485.png');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
          width: 100%;
          
        }
        /* Your external css file will go here. This is just for testing :) */
       
       
      
       .container-fluid,.nav_bar{
        
         background-image: url('https://wallpaperaccess.com/full/3004485.png'); 
        overflow: hidden;
        /* position: fixed; */
        top: 0;
         margin-top: 0px;
         position: relative;
         padding-top: 0px;
        width: 100%;
        
       }
       title{
        color: white;
       }
  
       .nav-item:hover{
        
          background-color:rgb(129, 121, 121); 
   
       }
       

       .first_row{
         height: 280px;width: 100%;  margin-top: 20px;background-color:transparent; display: flex;
            flex-direction: row;margin-bottom: 1px;
     }
     .chart1{
      background-color:transparent;
      width:16em; height: 250px; border-radius: 15px;margin-left: 7px;
     
      color: bisque;
     }
     .sec_row{
        height: 300px;width: 100%; background-color:transparent; display: flex;
            flex-direction: row; margin-top: 1px;
     }
     .select2-container .select2-selection--single{
            height:34px !important;
        }
        .select2-container--default .select2-selection--single{
                border: 1px solid #ccc !important; 
            border-radius: 0px !important; 
}

     
      </style>  
    <title>country</title>
</head>
<body>
    <div class="nav_bar" style="margin: 0%; padding: 0%;">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin: 0%; padding: 0%;">
            <div class="container-fluid" style="margin: 0%; padding: 0%;">
              <a class="navbar-brand" href="#" style="font-family: cursive; color: white; font-size: large;border-radius: 10px; padding-left: 5px;" ><b>Covid-19</b></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'index' %}"  style="color: white; font-family: Arial, Helvetica, sans-serif;"><b><u>Home</u></b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'country' %}" style="color: white;">Country</a>
                    </li>
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
                        Dropdown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#" style="color: white;">Action</a></li>
                        <li><a class="dropdown-item" href="#" style="color: white;">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#" style="color: white;">Something else here</a></li>
                        </ul>
                    </li> -->
                    {% load static %} 
                    <li class="nav-item">
                        <a class="btn btn-primary"  href='{% static "covid-19-editied.pptx" %}'  style="color: white; background-color: transparent; border-color: transparent;transition-duration: 0.4s;" download>Download Report</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary"  href="{% url 'logout' %}"  style="color: white; background-color: transparent; border-color: transparent;transition-duration: 0.4s;">Logout</a>
                    </li>
                    <span class="btn btn-primary"  style="  color:#FFDB58; background-color: transparent; border-color: transparent;transition-duration: 0.4s;"> <b>user:</b>    {{user | safe}}</span>
              
                    
                        <span class="btn btn-primary"  style="color: rgb(0, 247, 255); background-color: transparent; border-color: transparent;transition-duration: 0.4s; font-family:Comic Sans MS">  &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp    {{sel_con | safe}}</span>
                    
                    </ul>
                    <!-- <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit" style="color: white;">Search</button>
                    </form> -->
                    <!-- <select class="selectpicker countrypicker" data-live-search="true" ></select> -->

                    <form action="" method="POST" >
                        {% csrf_token %}
                        <select name="country_pick" >
                            <option value="Select Country">Select Country</option>
                            <option value="Mexico">Mexico</option>
                            <option value="Argentina">Argentina</option>
                            <option value="Afghanistan">Afghanistan</option>
                            <option value="Niger">Niger</option>
                            <option value="Nigeria">Nigeria</option>
                            <option value="Niue">Niue</option>
                            <option value="North Korea">North Korea</option>
                            <option value="North Macedonia">North Macedonia</option>
                            <option value="Northern Mariana Islands">Northern Mariana Islands</option>
                            <option value="Norway">Norway</option>
                            <option value="Oceania">Oceania</option>
                            <option value="Oman">Oman</option>
                            <option value="Pakistan">Pakistan</option>
                            <option value="Palau">Palau</option>
                            <option value="Palestine">Palestine</option>
                            <option value="Panama">Panama</option>
                            <option value="New Zealand">New Zealand</option>
                            <option value="Papua New Guinea">Papua New Guinea</option>
                            <option value="Paraguay">Paraguay</option>
                            <option value="Peru">Peru</option>
                            <option value="Philippines">Philippines</option>
                            <option value="Pitcairn">Pitcairn</option>
                            <option value="Poland">Poland</option>
                            <option value="Portugal">Portugal</option>
                            <option value="Puerto Rico">Puerto Rico</option>
                            <option value="Qatar">Qatar</option>
                            <option value="Reunion">Reunion</option>
                            <option value="Romania">Romania</option>
                            <option value="Russia">Russia</option>
                            <option value="Rwanda">Rwanda</option>
                            <option value="Nicaragua">Nicaragua</option>
                            <option value="New Caledonia">New Caledonia</option>
                            <option value="Saint Helena">Saint Helena</option>
                            <option value="Mauritius">Mauritius</option>
                            <option value="Africa">Africa</option>
                            <option value="Lower middle income">Lower middle income</option>
                            <option value="Luxembourg">Luxembourg</option>
                            <option value="Madagascar">Madagascar</option>
                            <option value="Malawi">Malawi</option>
                            <option value="Malaysia">Malaysia</option>
                            <option value="Maldives">Maldives</option>
                            <option value="Mali">Mali</option>
                            <option value="Malta">Malta</option>
                            <option value="Marshall Islands">Marshall Islands</option>
                            <option value="Martinique">Martinique</option>
                            <option value="Mauritania">Mauritania</option>
                            <option value="Mayotte">Mayotte</option>
                            <option value="Netherlands">Netherlands</option>
                            <option value="Micronesia (country)">Micronesia (country)</option>
                            <option value="Moldova">Moldova</option>
                            <option value="Monaco">Monaco</option>
                            <option value="Mongolia">Mongolia</option>
                            <option value="Montenegro">Montenegro</option>
                            <option value="Montserrat">Montserrat</option>
                            <option value="Morocco">Morocco</option>
                            <option value="Mozambique">Mozambique</option>
                            <option value="Myanmar">Myanmar</option>
                            <option value="Namibia">Namibia</option>
                            <option value="Nauru">Nauru</option>
                            <option value="Nepal">Nepal</option>
                            <option value="Saint Barthelemy">Saint Barthelemy</option>
                            <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                            <option value="Liechtenstein">Liechtenstein</option>
                            <option value="Tanzania">Tanzania</option>
                            <option value="Timor">Timor</option>
                            <option value="Togo">Togo</option>
                            <option value="Tokelau">Tokelau</option>
                            <option value="Tonga">Tonga</option>
                            <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                            <option value="Tunisia">Tunisia</option>
                            <option value="Turkey">Turkey</option>
                            <option value="Turkmenistan">Turkmenistan</option>
                            <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
                            <option value="Tuvalu">Tuvalu</option>
                            <option value="Uganda">Uganda</option>
                            <option value="Ukraine">Ukraine</option>
                            <option value="United Arab Emirates">United Arab Emirates</option>
                            <option value="United Kingdom">United Kingdom</option>
                            <option value="United States">United States</option>
                            <option value="United States Virgin Islands">United States Virgin Islands</option>
                            <option value="Upper middle income">Upper middle income</option>
                            <option value="Uruguay">Uruguay</option>
                            <option value="Uzbekistan">Uzbekistan</option>
                            <option value="Vanuatu">Vanuatu</option>
                            <option value="Vatican">Vatican</option>
                            <option value="Venezuela">Venezuela</option>
                            <option value="Vietnam">Vietnam</option>
                            <option value="Wallis and Futuna">Wallis and Futuna</option>
                            <option value="World">World</option>
                            <option value="Yemen">Yemen</option>
                            <option value="Zambia">Zambia</option>
                            <option value="Thailand">Thailand</option>
                            <option value="Tajikistan">Tajikistan</option>
                            <option value="Saint Lucia">Saint Lucia</option>
                            <option value="Syria">Syria</option>
                            <option value="Saint Martin (French part)">Saint Martin (French part)</option>
                            <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
                            <option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
                            <option value="Samoa">Samoa</option>
                            <option value="San Marino">San Marino</option>
                            <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                            <option value="Saudi Arabia">Saudi Arabia</option>
                            <option value="Senegal">Senegal</option>
                            <option value="Serbia">Serbia</option>
                            <option value="Seychelles">Seychelles</option>
                            <option value="Sierra Leone">Sierra Leone</option>
                            <option value="Singapore">Singapore</option>
                            <option value="Sint Maarten (Dutch part)">Sint Maarten (Dutch part)</option>
                            <option value="Slovakia">Slovakia</option>
                            <option value="Slovenia">Slovenia</option>
                            <option value="Solomon Islands">Solomon Islands</option>
                            <option value="Somalia">Somalia</option>
                            <option value="South Africa">South Africa</option>
                            <option value="South America">South America</option>
                            <option value="South Korea">South Korea</option>
                            <option value="South Sudan">South Sudan</option>
                            <option value="Spain">Spain</option>
                            <option value="Sri Lanka">Sri Lanka</option>
                            <option value="Sudan">Sudan</option>
                            <option value="Suriname">Suriname</option>
                            <option value="Sweden">Sweden</option>
                            <option value="Switzerland">Switzerland</option>
                            <option value="Lithuania">Lithuania</option>
                            <option value="Low income">Low income</option>
                            <option value="Libya">Libya</option>
                            <option value="Congo">Congo</option>
                            <option value="Burkina Faso">Burkina Faso</option>
                            <option value="Burundi">Burundi</option>
                            <option value="Cambodia">Cambodia</option>
                            <option value="Cameroon">Cameroon</option>
                            <option value="Canada">Canada</option>
                            <option value="Cape Verde">Cape Verde</option>
                            <option value="Cayman Islands">Cayman Islands</option>
                            <option value="Central African Republic">Central African Republic</option>
                            <option value="Chad">Chad</option>
                            <option value="Chile">Chile</option>
                            <option value="China">China</option>
                            <option value="Colombia">Colombia</option>
                            <option value="Comoros">Comoros</option>
                            <option value="Cook Islands">Cook Islands</option>
                            <option value="El Salvador">El Salvador</option>
                            <option value="Costa Rica">Costa Rica</option>
                            <option value="Cote d'Ivoire">Cote d'Ivoire</option>
                            <option value="Croatia">Croatia</option>
                            <option value="Cuba">Cuba</option>
                            <option value="Curacao">Curacao</option>
                            <option value="Cyprus">Cyprus</option>
                            <option value="Czechia">Czechia</option>
                            <option value="Democratic Republic of Congo">Democratic Republic of Congo</option>
                            <option value="Denmark">Denmark</option>
                            <option value="Djibouti">Djibouti</option>
                            <option value="Dominica">Dominica</option>
                            <option value="Dominican Republic">Dominican Republic</option>
                            <option value="Ecuador">Ecuador</option>
                            <option value="Bulgaria">Bulgaria</option>
                            <option value="Brunei">Brunei</option>
                            <option value="British Virgin Islands">British Virgin Islands</option>
                            <option value="Brazil">Brazil</option>
                            <option value="Albania">Albania</option>
                            <option value="Algeria">Algeria</option>
                            <option value="American Samoa">American Samoa</option>
                            <option value="Andorra">Andorra</option>
                            <option value="Angola">Angola</option>
                            <option value="Anguilla">Anguilla</option>
                            <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                            <option value="Armenia">Armenia</option>
                            <option value="Aruba">Aruba</option>
                            <option value="Asia">Asia</option>
                            <option value="Australia">Australia</option>
                            <option value="Austria">Austria</option>
                            <option value="Azerbaijan">Azerbaijan</option>
                            <option value="Bahamas">Bahamas</option>
                            <option value="Bahrain">Bahrain</option>
                            <option value="Bangladesh">Bangladesh</option>
                            <option value="Barbados">Barbados</option>
                            <option value="Belarus">Belarus</option>
                            <option value="Belgium">Belgium</option>
                            <option value="Belize">Belize</option>
                            <option value="Benin">Benin</option>
                            <option value="Bermuda">Bermuda</option>
                            <option value="Bhutan">Bhutan</option>
                            <option value="Bolivia">Bolivia</option>
                            <option value="Bonaire Sint Eustatius and Saba">Bonaire Sint Eustatius and Saba</option>
                            <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                            <option value="Botswana">Botswana</option>
                            <option value="Liberia">Liberia</option>
                            <option value="Egypt">Egypt</option>
                            <option value="Zimbabwe">Zimbabwe</option>
                            <option value="Iraq">Iraq</option>
                            <option value="Guinea">Guinea</option>
                            <option value="Guinea-Bissau">Guinea-Bissau</option>
                            <option value="Equatorial Guinea">Equatorial Guinea</option>
                            <option value="Guyana">Guyana</option>
                            <option value="Haiti">Haiti</option>
                            <option value="High income">High income</option>
                            <option value="Honduras">Honduras</option>
                            <option value="Hungary">Hungary</option>
                            <option value="Iceland">Iceland</option>
                            <option value="India">India</option>
                            <option value="Indonesia">Indonesia</option>
                            <option value="Iran">Iran</option>
                            <option value="Ireland">Ireland</option>
                            <option value="Laos">Laos</option>
                            <option value="Isle of Man">Isle of Man</option>
                            <option value="Israel">Israel</option>
                            <option value="Italy">Italy</option>
                            <option value="Jamaica">Jamaica</option>
                            <option value="Japan">Japan</option>
                            <option value="Jersey">Jersey</option>
                            <option value="Jordan">Jordan</option>
                            <option value="Kazakhstan">Kazakhstan</option>
                            <option value="Kenya">Kenya</option>
                            <option value="Kiribati">Kiribati</option>
                            <option value="Kosovo">Kosovo</option>
                            <option value="Kuwait">Kuwait</option>
                            <option value="Guernsey">Guernsey</option>
                            <option value="Guatemala">Guatemala</option>
                            <option value="Guam">Guam</option>
                            <option value="French Guiana">French Guiana</option>
                            <option value="Eritrea">Eritrea</option>
                            <option value="Estonia">Estonia</option>
                            <option value="Eswatini">Eswatini</option>
                            <option value="Ethiopia">Ethiopia</option>
                            <option value="Europe">Europe</option>
                            <option value="European Union">European Union</option>
                            <option value="Faeroe Islands">Faeroe Islands</option>
                            <option value="Falkland Islands">Falkland Islands</option>
                            <option value="Fiji">Fiji</option>
                            <option value="Lesotho">Lesotho</option>
                            <option value="Finland">Finland</option>
                            <option value="France">France</option>
                            <option value="French Polynesia">French Polynesia</option>
                            <option value="Guadeloupe">Guadeloupe</option>
                            <option value="Gabon">Gabon</option>
                            <option value="Gambia">Gambia</option>
                            <option value="Georgia">Georgia</option>
                            <option value="Germany">Germany</option>
                            <option value="Ghana">Ghana</option>
                            <option value="Gibraltar">Gibraltar</option>
                            <option value="Greece">Greece</option>
                            <option value="Lebanon">Lebanon</option>
                            <option value="Latvia">Latvia</option>
                            <option value="Greenland">Greenland</option>
                            <option value="Grenada">Grenada</option>
                            <option value="Kyrgyzstan">Kyrgyzstan</option>
                            <option value="Hong Kong">Hong Kong</option>
                            <option value="Taiwan">Taiwan</option>
                            <option value="Northern Ireland">Northern Ireland</option>
                            <option value="Scotland">Scotland</option>
                            <option value="England">England</option>
                            <option value="Wales">Wales</option>
                            <option value="Macao">Macao</option>
                            <option value="Northern Cyprus">Northern Cyprus</option>
                            <option value="Western Sahara">Western Sahara</option>
                            
                        </select>
                        <button type="submit" value="submit">Submit</button>
                    </form>

              </div>
            </div>
       </nav>
      
       
    </div>
    <div class="first_row" >
        <div class="chart1" ><p><h6 style="text-align: center; font-family: Comic Sans MS;">Total Cases</h6>
            {% load static %} 
            {{con_line1 | safe}}</p></div>
        <div  class="chart1"><p><h6 style="text-align: center; font-family: Comic Sans MS;">New Cases</h6>
            {% load static %} 
            {{con_line2 | safe}}</p></div>
        <div class="chart1" >
          <p> <h6 style="text-align: center; font-family: Comic Sans MS;">Vaccination</h6>
             {% load static %} 
            {{con_line3 | safe}} </p></div>
        <div  class="chart1" ><p><h6 style="text-align: center; font-family: Comic Sans MS;">Total Deaths</h6>
            {% load static %} 
            {{con_line4 | safe}}</p></div>
        <div  class="chart1"  >
            <!-- <video width="255" height="255" autoplay loop muted>
            <source src="https://cdn.dribbble.com/users/2844289/screenshots/14285159/media/e8a2a235d566e45644bf048901b6198a.mp4" type="video/mp4" />
          </video> -->
          
         <img src="https://assets.weforum.org/editor/UZi1yKmS3bNepn2NneR2li_tXMitu9EFIRBY4LyTldE.gif" alt=" cycling" height="265" width="285">
        </div>
    </div>
    <div class="sec_row">
        <div class="grp1" style="width: 1000px; margin-left: 2px; ">
            <p>
                {% load static%}
                {{bargraphtop | safe}}
                </p>
        </div>
        <div class="grp2"  style="width: 335px; margin-left: 2px; ">
            <p>{% load static%}
                {{sunburst_con | safe}}
            </p>
        </div>
    </div>
</body>
</html>